<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/iperevoschikov/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <add key="defaultPushSource" value="https://nuget.pkg.github.com/iperevoschikov/index.json" />
  </config>
</configuration>